@charset "UTF-8";
body,
html {
  min-height: 100%;
}

body {
  font-family: roboto, open-sans !important;
  padding-top: 100px;
}

.hidden {
  display: none;
}

#background {
  content: "";
  background: url("./img/flying-money3.png");
  background-repeat: repeat;
  background-attachment: fixed;
  filter: opacity(5%);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  /* Cambiar a position: fixed */
  overflow: hidden;
  z-index: -1;
}

h1 {
  font-size: calc(1.6rem + 0.6vw);
}

.title-btn-row {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

#atribucionesModal {
  top: 30%;
}

#error-404-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 25px 30px 25px 30px;
  background-color: rgb(248, 248, 248);
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
#error-404-container i {
  transform: scale(2.5);
}
#error-404-container .fa-flip-horizontal {
  transform: scaleX(-1) scale(2.5);
}

.accordion-body div {
  max-width: 100%;
}

.accordion {
  --bs-accordion-active-bg: rgba(34, 139, 34, 0.438);
  --bs-accordion-btn-bg: rgba(34, 139, 34, 0.438);
}

.accordion-button:not(.collapsed) {
  color: black;
}

.asc::after {
  content: " ▲";
  font-size: 0.8rem;
}

.desc::after {
  content: " ▼";
  font-size: 0.8rem;
}

/* HOME */
#cotizaciones-cards .carousel-control-prev {
  margin-left: -12%;
}
#cotizaciones-cards .carousel-control-next {
  margin-right: -12%;
}
#cotizaciones-cards .card p {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.35);
}
#cotizaciones-cards .card {
  border: solid 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3) inset;
}
#cotizaciones-cards .card-title {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
#cotizaciones-cards .card-prices {
  margin-bottom: var(--bs-card-title-spacer-y);
  font-size: 1.1rem;
}
#cotizaciones-cards .card-var {
  font-size: 1.05rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  color: rgba(0, 0, 0, 0.5);
}

#accesos-cards .carousel-control-prev {
  margin-bottom: 1%;
  margin-left: 4%;
}
#accesos-cards .carousel-control-next {
  margin-bottom: 1%;
  margin-right: 4%;
}
#accesos-cards .card h5,
#accesos-cards .card p {
  text-shadow: 1px 1px 3px black;
}
#accesos-cards .card p {
  font-size: 1.1rem;
}
#accesos-cards .card {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.9) inset;
}
#accesos-cards .card img {
  opacity: 0.5;
}

.invisible-button {
  background: transparent;
  border: none;
  padding: 0;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  outline: none;
}

.left-button {
  z-index: 1;
  top: 0;
  left: 0;
  border-color: white;
}

.right-button {
  z-index: 1;
  top: 0;
  left: 50%;
  border-color: white;
}

.whole-button {
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.left-button:hover {
  box-shadow: inset 0 25px 25px -25px rgba(255, 255, 255, 0.9), inset 25px 0 25px -25px rgba(255, 255, 255, 0.9), inset 0 -25px 25px -25px rgba(255, 255, 255, 0.9);
  transition: 0.35s ease-out;
}

.right-button:hover {
  box-shadow: inset 0 25px 25px -25px rgba(255, 255, 255, 0.9), inset -25px 0 25px -25px rgba(255, 255, 255, 0.9), inset 0 -25px 25px -25px rgba(255, 255, 255, 0.9);
  transition: 0.35s ease-out;
}

.whole-button:hover {
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.9) inset;
  transition: box-shadow 0.35s ease-out;
}

.button-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 14px;
}

.button-label:first-child {
  border-right: solid white 1px;
}

.button-label:last-child {
  border-left: solid white 1px;
}

.button-label {
  width: 50%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.63);
  color: white;
  padding: 5px;
}

/* HOME */
/* NAVBAR */
.navbar-toggler {
  border-color: transparent;
}
.navbar-toggler .navbar-toggler-icon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  --bs-navbar-toggler-icon-bg: none;
}

.navbar-toggler-icon:hover,
.navbar-brand:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

nav .dropdown-menu {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
  --bs-dropdown-item-padding-y: 0.6rem;
}
nav .dropdown-menu li {
  border-top: solid 1px lightgrey;
}
nav .dropdown-menu li:first-child {
  border-top: none;
}
nav .dropdown-menu li:last-child {
  border-bottom: none;
}
nav .dropdown-item {
  font-size: 1.05rem;
}
nav .dropdown-item:active {
  background-color: #198754 !important;
}

.dropdown .dropdown-toggle::after {
  transition: transform 0.3s ease;
}

.dropdown.show .dropdown-toggle::after {
  transform: rotate(180deg);
}

.dropdown-toggle::after {
  margin-left: 0.4em;
  position: relative;
  top: 0.12em;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

#logo {
  height: 38px;
}

#mainMenu {
  font-size: 1.3rem;
}

#cotizacionesMenu,
#carteraMenu,
#userMenu,
#simuladoresMenu {
  color: white;
}

#cotizacionesMenu:hover,
#carteraMenu:hover,
#userMenu:hover,
#simuladoresMenu:hover {
  color: white;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* NAVBAR */
/* FOOTER */
footer p {
  font-size: 0.85rem;
  font-weight: 300;
  margin-bottom: 0;
}
footer li a {
  color: rgb(216, 216, 216) !important;
  text-decoration: none;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0 !important;
  padding-left: 0;
}
.social-icons li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgb(74, 83, 100);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.social-icons li:hover {
  background-color: forestgreen;
}
.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgb(216, 216, 216);
  text-decoration: none;
  font-size: 20px;
}

/* FOOTER */
/* TABLAS */
table {
  font-size: 0.95rem;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

nav .pagination {
  margin-top: 10px;
  margin-bottom: 30px;
}
nav .pagination .page-link {
  color: #198754;
}

.nav.nav-tabs {
  border-bottom: 0;
}

tfoot > tr > td {
  border-bottom-width: 0 !important;
  text-align: end;
  font-weight: 500;
  background-color: rgba(34, 139, 34, 0.438) !important;
}

.btn-group {
  background-color: white;
}

.form-check-input {
  border: 1px solid grey;
}

input[type=checkbox]:checked {
  background-color: forestgreen;
  border-color: forestgreen;
}

#watchlistTabs .nav-item {
  background-color: white;
}
#watchlistTabs .nav-link {
  font-weight: 500;
  color: black;
  margin-right: 3px;
  background-color: rgba(34, 139, 34, 0.178);
}
#watchlistTabs .nav-link i:hover {
  transform: scale(1.35);
  text-shadow: 2px 2px 3px rgb(92, 92, 92);
}

#agregar-watchlist-tab {
  background-color: rgba(34, 139, 34, 0.438) !important;
  border-bottom: none;
  max-height: 40.63px;
  max-width: 44px;
  color: black;
}

#agregar-watchlist-tab:hover {
  background-color: rgba(34, 139, 34, 0.55) !important;
}

#agregar-watchlist-tab:active {
  background-color: rgba(34, 139, 34, 0.65) !important;
}

.nav-link.active {
  border-bottom: none;
  background-color: rgba(34, 139, 34, 0.438) !important;
  margin-bottom: 0;
}

.active .page-link {
  background-color: #198754;
  border-color: #198754;
  color: white !important;
}

#tipos-table table,
#especies-table table,
#especies-usa-table table,
#comparador-cedears-table table,
#tenencia-table table,
#resultados-table table,
#operaciones-table table,
#fiat-container table,
#bancos-container table,
#crypto-container table,
#watchlist-table table,
#tabla-detalle-especies {
  border: solid rgba(34, 139, 34, 0.438) 5px !important;
  border-collapse: unset;
  border-spacing: 0 !important;
  border-radius: 5px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  margin-bottom: 20px;
}

#watchlist-table table {
  border-top-left-radius: 0 !important;
}

#operaciones-table tbody tr:last-child,
#especies-table tbody tr:last-child,
#especies-usa-table tbody tr:last-child,
#comparador-cedears-table tbody tr:last-child,
#watchlist-table tbody tr:last-child {
  border: solid rgba(34, 139, 34, 0.438) 10px !important;
  border-radius: 5px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-top-width: 0px !important;
}

#mi-cuenta-table {
  border: solid 1px lightgray;
}
#mi-cuenta-table th,
#mi-cuenta-table td {
  padding-left: 15px;
}

.table-header {
  background-color: rgba(34, 139, 34, 0.438) !important;
}
.table-header a {
  text-decoration: none;
  color: black;
}

.table-header:first-child {
  padding-left: 15px;
}

.table-header:last-child {
  padding-right: 15px;
}

td:first-child {
  padding-left: 15px;
}

td:last-child {
  padding-right: 15px;
}

#tabla-tipos-container {
  max-width: 400px;
  margin-top: 30px;
}

#tipos-table > div > table > tbody > tr > td > a {
  text-decoration: none;
  color: forestgreen;
  font-weight: 500;
}

#tabla-usa-container {
  margin: auto;
  max-width: 700px;
}

#tabla-resultado-container {
  margin: auto;
  max-width: 600px;
}

#tabla-tenencia-container {
  margin: auto;
  max-width: 600px;
}

#tabla-operaciones-container {
  margin: auto;
  max-width: 1200px;
}

#mi-cuenta-container {
  margin: auto;
  max-width: 600px !important;
}

#tabla-detalle-especies {
  max-width: 400px;
}

#modificar-datos-container {
  margin: auto;
  max-width: 500px !important;
}

#operacion-form > div.form-group,
#modificar-datos-form > div.form-group,
#cambiar-clave-form > div.form-group {
  margin-bottom: 15px !important;
}

#operacion-form,
#modificar-datos-form,
#cambiar-clave-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px 30px 20px 30px;
  background-color: rgb(248, 248, 248);
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.star-container,
.pencil-container,
.trashcan-container {
  background-color: #198754;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 24px;
  min-width: 22px;
  min-height: 24px;
  margin: auto;
}

.icon-td {
  text-align: center;
  vertical-align: middle;
  min-width: 40px;
  padding: 0 !important;
}

#operaciones-filter select, #operaciones-filter input {
  width: 140px;
}
#operaciones-filter label {
  min-width: initial;
}
#operaciones-filter .input-group {
  margin-bottom: 0 !important;
  flex-wrap: nowrap;
}

/* TABLAS */
/* SIMULADORES */
#cuotas-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px 15px 20px 15px;
  background-color: rgb(250, 250, 250);
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
#cuotas-container p {
  text-align: justify;
}

#prestamos-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 15px 15px 20px 15px;
  background-color: rgb(250, 250, 250);
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}
#prestamos-container .input-group {
  max-width: 450px;
  margin: auto;
}
#prestamos-container label.input-group-text {
  min-width: 215px !important;
  background-color: white;
}
#prestamos-container p {
  text-align: center;
}

.input-group-append > .input-group-text {
  width: 35px;
}

.input-group-append {
  display: flex;
  justify-content: center;
}
.input-group-append .input-group-text {
  display: flex;
  justify-content: center;
}

#prestamos-selector .col-md-6 {
  width: initial;
  margin-right: 0;
  padding: 0 5px 0 5px;
}

#cuotas-container table,
#prestamos-container table {
  box-shadow: none;
  text-align: center;
}
#cuotas-container table td:first-child,
#cuotas-container table td:last-child,
#prestamos-container table td:first-child,
#prestamos-container table td:last-child {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

#cuot-tabla-resultados td {
  background-color: rgb(250, 250, 250);
}

#cuot-tabla-cuotas td {
  text-align: center;
}

#cuotas-container label.input-group-text {
  min-width: 165px;
}

#cuotas-container .input-group-text,
#prestamos-container .input-group-text {
  background-color: white;
}

#prestamo-resultados .row {
  max-width: 500px;
  margin: auto;
}

#cont-resultados label.input-group-text,
#cuot-resultados label.input-group-text,
#prestamo-resultados label.input-group-text {
  min-width: initial !important;
}

.input-group-vertical label {
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0.375rem !important;
  display: block;
}

.input-group-vertical span {
  border-bottom-left-radius: 0.375rem !important;
  border-top-right-radius: 0px !important;
  margin-left: 0 !important;
  display: block;
}

.input-group-vertical .form-group:not(:last-child) .form-control:not(:focus) {
  border-bottom-color: transparent;
}

.input-group-vertical .form-group:first-child .form-control {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.input-group-vertical .form-group:last-child .form-control {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  top: -2px;
}

#cont-conviene-row,
#cuot-conviene-row {
  padding-left: 8px;
  padding-right: 8px;
}

#cont-pill,
#cuot-pill {
  min-width: 180px;
}

#frances-pill,
#aleman-pill,
#americano-pill,
#directo-pill {
  min-width: 130px;
}

/* SIMULADORES */
/* CUENTAS */
.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

#login-container .card-title,
#registro-container .card-title {
  margin-bottom: 15px;
}

#login-container .card-body .form-group,
#registro-container .card-body .form-group {
  margin-bottom: 10px;
}

.cambiar-clave-li {
  list-style-type: none;
  font-size: 1.2rem;
}

/* CUENTAS */
/* MEDIA-QUERIES */
@media (min-width: 1200px) {
  h1 {
    font-size: 1.85rem;
  }
}
@media (max-width: 1399px) {
  #operaciones-filter label, #operaciones-filter span {
    min-width: 100px;
  }
}
@media (max-width: 992px) {
  body {
    padding-top: 75px;
  }
  .text-small {
    font-size: 0.9rem;
  }
  tfoot > tr > td {
    font-size: 0.9rem;
  }
  #mainMenu form {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  nav .dropdown-menu {
    --bs-dropdown-item-padding-y: 0.4rem;
    --bs-dropdown-link-hover-bg: bg-success;
    --bs-dropdown-font-size: 1.15rem;
    box-shadow: none;
    background-color: transparent;
    border: none;
  }
  nav .dropdown-menu li {
    border-top: none;
  }
  nav .dropdown-menu .dropdown-item {
    color: white;
    padding-bottom: 8px;
    padding-left: 28px;
    font-size: 1.2rem;
  }
  nav .dropdown-menu .dropdown-item:hover {
    text-shadow: 0 0 10px white;
  }
  nav .dropdown-menu .logout-a {
    font-weight: 700;
  }
  .no-hover-show .dropdown-menu {
    display: none !important;
  }
  .show.dropdown-toggle::after {
    transform: rotate(180deg);
  }
}
@media (max-width: 768px) {
  .truncate {
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text-small {
    font-size: 0.85rem;
  }
  tfoot > tr > td {
    font-size: 0.85rem;
  }
  .simulador-input-small {
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
  }
  #prestamos-container p {
    text-align: start;
  }
}
@media (max-width: 576px) {
  .truncate {
    max-width: 100px;
    /* Ajusta el valor según tus necesidades */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .navbar-brand {
    font-size: 1.6rem;
  }
  #logo {
    height: 35px;
  }
  .simulador-input-small {
    padding: 0.3rem 0.6rem !important;
    font-size: 0.95rem !important;
  }
  #cotizaciones-cards .carousel-control-prev {
    margin-left: -3%;
  }
  #cotizaciones-cards .carousel-control-next {
    margin-right: -3%;
  }
  #accesos-cards .carousel-control-prev {
    margin-left: -5%;
  }
  #accesos-cards .carousel-control-next {
    margin-right: -5%;
  }
}
@media (max-width: 400px) {
  .simulador-input-small {
    padding: 0.25rem 0.25rem !important;
    font-size: 0.85rem !important;
  }
  #accesos-cards .card p {
    font-size: 1rem;
  }
}
/* MEDIA-QUERIES */
/* ANIMATIONS */
.animation {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
@keyframes slideDownIn {
  0% {
    transform: translateY(-25px);
    opacity: 0.25;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slideDownIn {
  animation-name: slideDownIn;
}

/* ANIMATIONS *//*# sourceMappingURL=app.css.map */