{% extends 'base.html' %}

{% load static %}

{% load django_tables2 %}

{% block title %}
FinanzARS | CEDEARS vs USA
{% endblock %}

{% block meta %}
<meta name="description" content="Compará los distintos CEDEARS con sus contrapartidas en el mercado americano!"/>
<meta name="robots" content="index"/>
{% endblock %}

{% block content %}

<div class="table-responsive" id="tabla-comparador-container">

  <div class="accordion mb-3" id="info-comparador-usa-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo"
          aria-expanded="false" aria-controls="collapseInfo">
          Info
        </button>
      </h2>
      <div id="collapseInfo" class="accordion-collapse collapse show" data-bs-parent="#info-comparador-usa-accordion">
        <div class="accordion-body">
          — En esta tabla podrás analizar los valores de los CEDEARS tanto en pesos como
          en dólares MEP, y compararlos contra el valor de los mismos en el mercado
          americano. Tené en cuenta que algunas especies no tienen contrapartida "D".
          <br>
          — Si un CEDEAR no fue operado hasta el momento, se mostrará la oferta de
          venta más baja. Si no hay ninguna oferta, verás el símbolo "—".
              </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column flex-lg-row mt-2 mb-4 mx-auto" id="comparador-cedears-filters">
    <form method="get" class="form-inline d-flex flex-column flex-lg-row align-items-center gap-3">
      <div class="d-flex gap-2">
      <div class="form-group">
        {% if filter.form.especie.value %}
        <input class="form-control" type="text" name="especie" value="{{ filter.form.especie.value }}" autocomplete="off">
        {% else %}
        <input class="form-control" type="text" name="especie" placeholder="Especie" autocomplete="off">
        {% endif %}
      </div>
      <button type="submit" class="btn btn-success">Filtrar</button>
    </div>
    </form>
  </div>
  
  <div class="table-responsive-lg">
    <div id="comparador-cedears-table">
      {% render_table table %}
    </div>
  </div>

</div>

<script>
  $(document).ready(function () {
    $("#collapseChart").removeClass("show");
    $("#collapseInfo").removeClass("show");
  });
</script>


{% endblock %}