{% extends 'base.html' %}

{% load static %}

{% load form_tags %}

{% block title %}
Simulador de Cuotas | FinanzARS
{% endblock %}

{% block meta %}
<meta name="description"
  content="Combatí la inflación comparando alternativas de compra en cuotas con distinta financiación, o con descuento pagando en efectivo" />
  <meta name="robots" content="index,noodp,noydir"/>
  <meta name="keywords" content="contado, efectivo, o, cuotas, tasa, simulador, cuotas, compras, interes, conviene, descuento, inflacion"/>
{% endblock %}

{% block content %}

<div class="container" id="cuotas-container">
  <h1 class="text-center mb-3">Cuotas</h1>
  <p class="px-2">Combatí la inflación comparando alternativas de compra en cuotas con distinta financiación, 
    o con descuento pagando en efectivo:
  </p>
  <form id="modo-selector" class="mb-2">
    <div class="form-group">
      <div class="d-flex gap-2 mt-3 d-flex flex-md-row flex-column justify-content-center">
        <label class="form-check-label btn btn-success" id="cont-pill" for="modo-contado">
          Contado vs Cuotas
        </label>
        <label class="form-check-label btn btn-secondary" id="cuot-pill" for="modo-cuotas">
          Cuotas A vs Cuotas B
        </label>
        <input type="radio" id="modo-contado" name="modo" class="form-check-input" value="contado" hidden>
        <input type="radio" id="modo-cuotas" name="modo" class="form-check-input" value="cuotas" hidden>
      </div>
      <div class="mt-4 mb-4" id="tasas-container">
        <div class="input-group">
          <label for="inflacion" class="input-group-text simulador-input-small">Inflación Mensual:</label>
          <input type="number" id="inflacion" name="inflacion" class="form-control simulador-input-small" min="0"
            value="{{ tasas.inflacion|floatformat:1|replace_comma }}">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="mercado-pago-tna" class="input-group-text simulador-input-small">MercadoPago TNA:</label>
          <input type="number" id="mercado-pago-tna" name="mercado-pago-tna" class="form-control simulador-input-small"
            min="1" value="{{ tasas.mercadopago|floatformat:1|replace_comma }}">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="plazo-fijo-tna" class="input-group-text simulador-input-small">Plazo Fijo TNA:</label>
          <input type="number" id="plazo-fijo-tna" name="plazo-fijo-tna" class="form-control simulador-input-small"
            min="1" value="{{ tasas.plazofijo|floatformat:1|replace_comma }}">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="contado-vs-cuotas">
    <h4 class="text-center">Contado vs Cuotas</h4>
    <form id="contado-form">
      <div class="form-group">
        <div class="input-group">
          <label for="cont-importe-contado" class="input-group-text simulador-input-small">Importe contado:</label>
          <input type="number" id="cont-importe-contado" name="cont-importe-contado"
            class="form-control simulador-input-small" min="1" max="99999999" value="10000" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-title="Valores entre 1 y 99.999.999">
        </div>
        <div class="input-group">
          <label for="cont-importe-cuotas" class="input-group-text simulador-input-small">Importe cuotas:</label>
          <input type="number" id="cont-importe-cuotas" name="cont-importe-cuotas"
            class="form-control simulador-input-small" min="1" max="99999999" value="12000" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-title="Valores entre 1 y 99.999.999">
        </div>
        <div class="input-group">
          <label for="cont-cuotas" class="input-group-text simulador-input-small">Cuotas:</label>
          <input type="number" id="cont-cuotas" name="cont-cuotas" class="form-control simulador-input-small" min="1"
            max="120" value="3" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="Valores entre 1 y 120">
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-success mt-3" type="button" id="cont-btn">Calcular</button>
        </div>

        <div class="mt-3" id="cont-resultados">
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="cont-importe-por-cuota" class="input-group-text simulador-input-small">Importe por
                  cuota:</label>
                <span id="cont-importe-por-cuota" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 pe-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="cont-total-ajustado" class="input-group-text simulador-input-small">Total cuotas
                  ajust.:</label>
                <span id="cont-total-ajustado" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="cont-recargo" class="input-group-text simulador-input-small">Recargo en cuotas:</label>
                <span id="cont-recargo" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 pe-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="cont-descuento" class="input-group-text simulador-input-small">Dif. ajust. en
                  cuotas:</label>
                <span id="cont-descuento" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 py-1" id="cont-conviene-row">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="cont-conviene" class="input-group-text simulador-input-small">Te conviene pagar:</label>
                <span id="cont-conviene" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped mt-3">
              <thead>
                <tr>
                  <th>N° Cuota</th>
                  <th>Valor ajustado por inflación</th>
                </tr>
              </thead>
              <tbody id="cont-tabla-cuotas">
                <!-- Tabla dinámica -->
              </tbody>
            </table>
          </div>

          <p class="p-2">Si invirtieras el precio de contado en MercadoPago o Plazo Fijo, tendrías estos resultados:</p>

          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped">
              <thead>
                <tr>
                  <th>N° Cuota</th>
                  <th>MP sin restar cuota</th>
                  <th>MP restando cuota</th>
                  <th>PF sin restar cuota</th>
                  <th>PF restando cuota</th>
                </tr>
              </thead>
              <tbody id="cont-tabla-mp">
                <!-- Tabla dinámica -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="cuotas-vs-cuotas">
    <h4 class="text-center">Cuotas A vs Cuotas B</h4>
    <form id="cuotas-form">
      <div class="form-group">
        <div class="input-group">
          <label for="cuot-importe-a" class="input-group-text simulador-input-small">Importe total A:</label>
          <input type="number" id="cuot-importe-a" name="cuot-cuot-importe-a" class="form-control simulador-input-small"
            min="1" max="99999999" value="10000" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="Valores entre 1 y 99.999.999">
        </div>
        <div class="input-group">
          <label for="cuot-cuotas-a" class="input-group-text simulador-input-small">Cuotas A:</label>
          <input type="number" id="cuot-cuotas-a" name="cuot-cuotas-a" class="form-control simulador-input-small"
            min="1" max="120" value="3" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="Valores entre 1 y 120">
        </div>
        <div class="input-group">
          <label for="cuot-importe-b" class="input-group-text simulador-input-small">Importe total B:</label>
          <input type="number" id="cuot-importe-b" name="cuot-importe-b" class="form-control simulador-input-small"
            min="1" max="99999999" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="Valores entre 1 y 99.999.999" value="12000">
        </div>
        <div class="input-group">
          <label for="cuot-cuotas-b" class="input-group-text simulador-input-small">Cuotas B:</label>
          <input type="number" id="cuot-cuotas-b" name="cuot-cuotas-b" class="form-control simulador-input-small"
            min="1" max="48" value="6" data-bs-toggle="tooltip" data-bs-placement="right"
            data-bs-title="Valores entre 1 y 120">
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-success mt-3" type="button" id="cuot-btn">Calcular</button>
        </div>
      </div>

      <div class="mt-3" id="cuot-resultados">
        <div class="row">
          <div class="col-6 p-1 ps-2">
            <div class="input-group input-group-vertical d-flex flex-column">
              <label for="cuot-importe-por-cuota-a" class="input-group-text simulador-input-small">Importe por cuota
                A:</label>
              <span id="cuot-importe-por-cuota-a" class="input-group-text simulador-input-small"></span>
            </div>
          </div>
          <div class="col-6 p-1 pe-2">
            <div class="input-group input-group-vertical d-flex flex-column">
              <label for="cuot-importe-por-cuota-b" class="input-group-text simulador-input-small">Importe por cuota
                B:</label>
              <span id="cuot-importe-por-cuota-b" class="input-group-text simulador-input-small"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 p-1 ps-2">
            <div class="input-group input-group-vertical d-flex flex-column">
              <label for="cuot-total-ajustado-a" class="input-group-text simulador-input-small">Total cuotas ajust.
                A:</label>
              <span id="cuot-total-ajustado-a" class="input-group-text simulador-input-small"></span>
            </div>
          </div>
          <div class="col-6 p-1 pe-2">
            <div class="input-group input-group-vertical d-flex flex-column">
              <label for="cuot-total-ajustado-b" class="input-group-text simulador-input-small">Total cuotas ajust.
                B:</label>
              <span id="cuot-total-ajustado-b" class="input-group-text simulador-input-small"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 p-1 ps-2">
            <div class="input-group input-group-vertical d-flex flex-column">
              <label for="cuot-descuento" class="input-group-text simulador-input-small">Diferencia % A / B:</label>
              <span id="cuot-descuento" class="input-group-text simulador-input-small"></span>
            </div>
          </div>
          <div class="col-6 p-1 pe-2">
            <div class="input-group input-group-vertical d-flex flex-column">
              <label for="cuot-conviene" class="input-group-text simulador-input-small">Te conviene pagar:</label>
              <span id="cuot-conviene" class="input-group-text simulador-input-small"></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped mt-3">
              <thead>
                <tr>
                  <th>N° Cuota</th>
                  <th>Cuotas A ajustadas por inflación</th>
                  <th>N° Cuota</th>
                  <th>Cuotas B ajustadas por inflación</th>
                </tr>
              </thead>
              <tbody id="cuot-tabla-cuotas">
                <!-- Tabla dinámica -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>


<script>

$(document).ready(function () {

    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip()
      $(document).on('click', 'input[type=number]', function () { this.select(); });
    });

    const radioContado = $("#modo-contado");
    const radioCuotas = $("#modo-cuotas");
    const contadoPill = $("#cont-pill");
    const cuotasPill = $("#cuot-pill");
    const contadoVsCuotas = $("#contado-vs-cuotas");
    const cuotasVsCuotas = $("#cuotas-vs-cuotas");
    const resultadosCont = $("#cont-resultados");
    const resultadosCuot = $("#cuot-resultados");

    cuotasVsCuotas.hide();
    resultadosCont.hide();
    resultadosCuot.hide();

    radioContado.on("change", function () {
      if (radioContado.prop("checked")) {
        contadoVsCuotas.show();
        cuotasVsCuotas.hide();
        resultadosCont.hide();
        resultadosCuot.hide();
        contadoPill.removeClass("btn-secondary").addClass("btn-success");
        cuotasPill.removeClass("btn-success").addClass("btn-secondary");
      }
    });

    radioCuotas.on("change", function () {
      if (radioCuotas.prop("checked")) {
        contadoVsCuotas.hide();
        cuotasVsCuotas.show();
        resultadosCont.hide();
        resultadosCuot.hide();
        contadoPill.removeClass("btn-success").addClass("btn-secondary");
        cuotasPill.removeClass("btn-secondary").addClass("btn-success");
      }
    });

    $("#cont-btn").click(function () {
      const importeContado = parseFloat($("#cont-importe-contado").val());
      const importeCuotas = parseFloat($("#cont-importe-cuotas").val());
      const cuotas = parseInt($("#cont-cuotas").val());

      const tasaInflacion = parseFloat($("#inflacion").val() / 100);
      const tasaMP = parseFloat($("#mercado-pago-tna").val() / 100);
      const tasaPF = parseFloat($("#plazo-fijo-tna").val() / 100);

      if (importeContado > 0 && importeCuotas > 0 && (cuotas > 0 && cuotas < 121)) {
        resultadosCont.show();

        const importePorCuota = importeCuotas / cuotas;
        const totalAjustado = finance.PV(tasaInflacion, cuotas, -importePorCuota);
        const descuento = totalAjustado / importeContado - 1;
        const recargo = importeCuotas / importeContado - 1;

        $("#cont-importe-por-cuota").text(`$ ${formatNumber(importePorCuota)}`);
        $("#cont-total-ajustado").text(`$ ${formatNumber(totalAjustado)}`);
        $("#cont-descuento").text(`${formatPercentage(descuento * 100)}%`);
        $("#cont-recargo").text(`${formatPercentage(recargo * 100)}%`);

        if (descuento > 0) {
          $("#cont-conviene").text("Contado")
        }
        else {
          $("#cont-conviene").text("Cuotas")
        }

        $("#cont-conviene").css({
          "font-weight": "700",
          "color": "forestgreen",
        });

        // Tabla de cuotas ajustadas
        const tablaContado = $("#cont-tabla-cuotas");
        tablaContado.empty();
        for (let i = 1; i <= cuotas; i++) {
          const valorAjustado = importePorCuota / (1 + tasaInflacion) ** i;
          tablaContado.append(`<tr><td>${i}</td>
          <td>${formatNumber(valorAjustado)}</td></tr>`);
        }

        // Tabla de inversión
        const tablaMPContado = $("#cont-tabla-mp");
        tablaMPContado.empty();
        for (let i = 1; i <= cuotas; i++) {
          const valorSinRestarMP = finance.FV(tasaMP / 12, i, 0, -importeContado);
          const valorRestandoMP = finance.FV(tasaMP / 12, i, importePorCuota, -importeContado);
          const valorSinRestarPF = finance.FV(tasaPF / 12, i, 0, -importeContado);
          const valorRestandoPF = finance.FV(tasaPF / 12, i, importePorCuota, -importeContado);
          tablaMPContado.append(`<tr><td>${i}</td>
          <td>${formatNumber(valorSinRestarMP)}</td>
          <td>${formatNumber(valorRestandoMP)}</td>
          <td>${formatNumber(valorSinRestarPF)}</td>
          <td>${formatNumber(valorRestandoPF)}</td></tr>`);
        }
      }
    });

    $("#cuot-btn").click(function () {
      const importeCuotaA = parseFloat($("#cuot-importe-a").val());
      const importeCuotaB = parseFloat($("#cuot-importe-b").val());
      const cuotasA = parseInt($("#cuot-cuotas-a").val());
      const cuotasB = parseInt($("#cuot-cuotas-b").val());

      const tasaInflacion = parseFloat($("#inflacion").val() / 100);
      const tasaMP = parseFloat($("#mercado-pago-tna").val() / 100);
      const tasaPF = parseFloat($("#plazo-fijo-tna").val() / 100);

      if (importeCuotaA > 0 && importeCuotaB > 0 && (cuotasA > 0 && cuotasA < 121) && (cuotasB > 0 && cuotasB < 121)) {

        resultadosCuot.show();

        const importePorCuotaA = importeCuotaA / cuotasA;
        const importePorCuotaB = importeCuotaB / cuotasB;
        const totalAjustadoA = finance.PV(tasaInflacion, cuotasA, -importePorCuotaA);
        const totalAjustadoB = finance.PV(tasaInflacion, cuotasB, -importePorCuotaB);

        const descuento = 1 - totalAjustadoB / totalAjustadoA;

        $("#cuot-importe-por-cuota-a").text(`$ ${formatNumber(importePorCuotaA)}`);
        $("#cuot-importe-por-cuota-b").text(`$ ${formatNumber(importePorCuotaB)}`);
        $("#cuot-total-ajustado-a").text(`$ ${formatNumber(totalAjustadoA)}`);
        $("#cuot-total-ajustado-b").text(`$ ${formatNumber(totalAjustadoB)}`);
        $("#cuot-descuento").text(`${formatPercentage(descuento * 100)}%`);

        if (descuento > 0) {
          $("#cuot-conviene").text("Cuotas B")
        }
        else {
          $("#cuot-conviene").text("Cuotas A")
        }

        $("#cuot-conviene").css({
          "font-weight": "700",
          "color": "forestgreen",
        });

        // Tabla de cuotas ajustadas
        const tablaCuotas = $("#cuot-tabla-cuotas");
        tablaCuotas.empty();
        const cuotasToShow = cuotasA > cuotasB ? cuotasA : cuotasB;
        for (let i = 1; i <= cuotasToShow; i++) {
          const valorAjustadoA = importePorCuotaA / Math.pow(1 + tasaInflacion, Math.min(i, cuotasA));
          const valorAjustadoB = importePorCuotaB / Math.pow(1 + tasaInflacion, Math.min(i, cuotasB));

          const cuotaToShowA = i <= cuotasA ? i : "-";
          const cuotaToShowB = i <= cuotasB ? i : "-";
          const valortoShowA = cuotaToShowA != "-" ? valorAjustadoA.toFixed(2) : "-";
          const valortoShowB = cuotaToShowB != "-" ? valorAjustadoB.toFixed(2) : "-";

          tablaCuotas.append(`<tr><td>${cuotaToShowA}</td>
          <td>${valortoShowA.replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}</td>
          <td>${cuotaToShowB}</td>
          <td>${valortoShowB.replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}</td></tr>`);
        }
      }
    });
  });

  /* ------------------------------ Funciones ------------------------------ */

  function formatNumber(number) {
    return number.toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.');
  }

  function formatPercentage(number) {
    return number.toFixed(2).replace('.', ',');
  }

</script>

<script src="{% static 'js/financeFunctions.js' %}"></script>

{% endblock %}