{% extends 'base.html' %}

{% load static %}

{% load django_tables2 %}

{% block title %}
FinanzARS | Dólar
{% endblock %}

{% block meta %}
<meta name="description" content="Chequeá el valor del dólar oficial, blue, mep, ccl o crypto a toda hora! 
Tenemos los valores actualizados de los bancos y exchanges más importantes."/>
<meta name="robots" content="index"/>
<meta name="keywords" content="dolar, blue, oficial, solidario, crypto, hoy, bancos, mep, ccl"/>
{% endblock %}


{% block content %}

<div class="container d-flex flex-column flex-lg-row gap-2 justify-content-start justify-content-lg-center align-items-center align-items-lg-start" id="dolar-container">
  <div class="table-responsive-lg" id="fiat-container">
    {% render_table fiat_table %}
  </div>
  <div class="table-responsive-lg" id="bancos-container">
    {% render_table bancos_table %}
  </div>

  <div class="table-responsive-lg" id="crypto-container">
    {% render_table cryptos_table %}
  </div>
</div>



<script>
  function getElementsByText(str, tag = 'a') {
    return Array.prototype.slice.call(document.getElementsByTagName(tag)).filter(elem => elem.textContent.trim() === str.trim());
  }

  document.addEventListener("DOMContentLoaded", function() {
    var fiatHoraHeader = document.querySelector('.fiat-hora-header');
    var element = getElementsByText('hora-dolar');
    var new_element = document.createElement('th');
    var hora = "{{ fiatHora }}"
    var formattedHora = hora.substring(11, 16);
    new_element.classList = fiatHoraHeader.classList
    new_element.scope = "col"
    new_element.innerHTML = `<a>${formattedHora}</a>`;
    new_element.title = hora
    fiatHoraHeader.parentNode.replaceChild(new_element, fiatHoraHeader);
});

</script>


{% endblock %}