{% extends 'base.html' %}

{% block title %}
Acciones USA | FinanzARS
{% endblock %}

{% load django_bootstrap5 %}
{% load django_tables2 %}

{% block breadcrumb %}
{% endblock %}

{% block meta %}
<meta name="description" content="Encontrá toda la información de las principales acciones de EEUU"/>
<meta name="robots" content="index,noodp,noydir"/>
<meta name="keywords" content="bolsa, activos, financieros, instrumentos, acciones, usa, cotizaciones"/>
{% endblock %}


{% block content %}

<div class="table-responsive" id="tabla-usa-container">

  <div class="d-flex flex-column flex-lg-row mt-2 mb-4 mx-auto" id="table-usa-filters">

    {% if filter %}

    <form method="get" class="form-inline d-flex flex-column flex-lg-row align-items-center gap-3">

      <div class="form-group">
        {% if filter.form.especie.value %}
        <input class="form-control" type="text" name="{{ filter.form.especie.name }}"
          value="{{ filter.form.especie.value }}" autocomplete="off">
        {% else %}
        <input class="form-control" type="text" name="{{ filter.form.especie.name }}" placeholder="Especie"
          autocomplete="off">
        {% endif %}
      </div>

      <button type="submit" class="btn btn-success">Filtrar</button>
    </form>

    {% endif %}

  </div>

  <div class="table-responsive">
    <div id="especies-usa-table">
    {% render_table table %}
    </div>
  </div>

</div>

{% endblock %}