{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ tipo.tipo }} | FinanzARS
{% endblock %}

{% block meta %}
<meta name="description" content="Encontrá toda la información de tus instrumentos financieros favoritos"/>
<meta name="robots" content="index,noodp,noydir"/>
<meta name="keywords" content="bolsa, activos, financieros, instrumentos, bonos, cedears, merval, cotizaciones"/>
{% endblock %}

{% load django_bootstrap5 %}
{% load django_tables2 %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-2 mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'tipos' %}">Instrumentos</a>
    </li>
    <li class="breadcrumb-item active">{{ tipo.tipo }}</li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="d-flex flex-column flex-lg-row mt-2 mb-4">

  {% if filter %}
  
  <form method="get" class="form-inline d-flex flex-column flex-lg-row align-items-center gap-3" id="especies-filter">
    <div class="d-flex gap-3 flex-column flex-md-row align-items-center">
    
    <div class="btn-group" role="group" aria-label="Checkboxes de moneda" id="moneda-btns">
      <input type="checkbox" class="btn-check" id="ars-check" value="ARS" autocomplete="off" 
      {% if 'ARS' in filter.form.moneda.value or not filter.form.moneda.value %}checked{% endif %}>
      <label class="btn btn-outline-success" for="ars-check">ARS</label>
  
      <input type="checkbox" class="btn-check" id="mep-check" value="MEP" autocomplete="off" 
      {% if 'MEP' in filter.form.moneda.value or not filter.form.moneda.value %}checked{% endif %}>
      <label class="btn btn-outline-success" for="mep-check">MEP</label>

      <input type="checkbox" class="btn-check" id="ccl-check" value="CCL" autocomplete="off" 
      {% if 'CCL' in filter.form.moneda.value or not filter.form.moneda.value %}checked{% endif %}>
      <label class="btn btn-outline-success" for="ccl-check">CCL</label>
      
    </div>

    <input type="hidden" name="moneda" value="">
  
    <div class="btn-group" role="group" aria-label="Checkboxes de plazo" id="plazo-btns">
      <input type="checkbox" class="btn-check" id="48hs-check" value="48hs" autocomplete="off" 
      {% if '48hs' in filter.form.plazo.value or not filter.form.plazo.value %}checked{% endif %}>
      <label class="btn btn-outline-success" for="48hs-check">48hs</label>
  
      <input type="checkbox" class="btn-check" id="24hs-check" value="24hs" autocomplete="off" 
      {% if '24hs' in filter.form.plazo.value or not filter.form.plazo.value %}checked{% endif %}>
      <label class="btn btn-outline-success" for="24hs-check">24hs</label>
  
      <input type="checkbox" class="btn-check" id="ci-check" value="CI" autocomplete="off" 
      {% if 'CI' in filter.form.plazo.value or not filter.form.plazo.value %}checked{% endif %}>
      <label class="btn btn-outline-success" for="ci-check">C.I.</label>
    </div>

    <input type="hidden" name="plazo" value="">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="{{ filter.form.hora.name }}" id="{{ filter.form.hora.name }}" 
      {% if filter.form.hora.value %}checked{% endif %}>
      <label class="form-check-label" for="{{ filter.form.hora.name }}">
        Mostrar No Operadas
      </label>
    </div>
  </div>

    <div class="form-group d-flex gap-1">
      {% if filter.form.especie.value %}
        <input class="form-control" type="text" name="{{ filter.form.especie.name }}" value="{{ filter.form.especie.value }}" autocomplete="off">
      {% else %}
        <input class="form-control" type="text" name="{{ filter.form.especie.name }}" placeholder="Especie" autocomplete="off">
      {% endif %}
      <button type="submit" class="btn btn-success">Filtrar</button>
    </div>  

  </form>
  
  {% endif %}

</div>

<div class="table-responsive">
  <div id="especies-table">
    {% render_table table %}
  </div>
</div>

<div class="modal fade" id="agregarFavoritoModal" tabindex="-1" aria-labelledby="agregarFavoritoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarFavoritoModalLabel">Agregar o Quitar de Watchlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'agregar_favorito' %}" id="agregarFavoritoForm" novalidate>
          {% csrf_token %}
          <!-- <input type="hidden" id="especieIdInput" name="especie_id_input" value="">
          <label>Seleccioná las watchlists en las que querés incluir la especie:</label>
          <div id="watchlists-checkboxes"> -->
                <!-- Aquí se llenarán los checkboxes con las watchlists -->
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Variables de django para script externo
  const watchlistsDataUrl = "{% url 'get_watchlists_data' %}";
  const agregarFavoritoUrl = "{% url 'agregar_favorito' %}";
  const eliminarFavoritoUrl = "{% url 'eliminar_favorito' %}";
  const getWatchlistsDataUrl = "{% url 'get_watchlists_data' %}";
  const watchlistsUrl = "{% url 'watchlists' %}";
  const loginUrl = "{% url 'login' %}";
  const token = "{{ csrf_token }}"
  const userAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
</script>

<script src="{% static 'js/instrumento/especies.js' %}"></script>

{% endblock %}