{% extends 'base.html' %}

{% load static %}

{% block title %}
FinanzARS | {{ tipo.tipo }}
{% endblock %}

{% load django_bootstrap5 %}
{% load django_tables2 %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-2 mb-4">
    <li class="breadcrumb-item">
      <a href="{% url 'tipos' %}">Instrumentos</a>
    </li>
    <li class="breadcrumb-item active">{{ tipo.tipo }}</li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="d-flex flex-column flex-lg-row mt-2 mb-4">
  <!-- <a href="{% url 'nueva_especie' tipo.pk %}" class="btn btn-primary text-nowrap">Nueva especie</a> -->

  {% if filter %}
  
  <form method="get" class="form-inline d-flex flex-column flex-lg-row align-items-center gap-3">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

      <input type="checkbox" class="btn-check" id="48hs-check" name="plazo" value="48hs" autocomplete="off" 
      {% if '48hs' in filter.form.plazo.value %}checked{% endif %}>
      <label class="btn btn-outline-primary" for="48hs-check">48hs</label>
  
      <input type="checkbox" class="btn-check" id="24hs-check" name="plazo" value="24hs" autocomplete="off" 
      {% if '24hs' in filter.form.plazo.value %}checked{% endif %}>
      <label class="btn btn-outline-primary" for="24hs-check">24hs</label>
  
      <input type="checkbox" class="btn-check" id="ci-check" name="plazo" value="CI" autocomplete="off" 
      {% if 'CI' in filter.form.plazo.value %}checked{% endif %}>
      <label class="btn btn-outline-primary" for="ci-check">C.I.</label>

    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="{{ filter.form.hora.name }}" id="{{ filter.form.hora.name }}" 
      {% if filter.form.hora.value %}checked{% endif %}>
      <label class="form-check-label text-nowrap" for="{{ filter.form.hora.name }}">
        Mostrar No Operadas
      </label>
    </div>
    
    <div class="form-group">
      {% if filter.form.especie.value %}
        <input class="form-control" type="text" name="{{ filter.form.especie.name }}" value="{{ filter.form.especie.value }}" autocomplete="off">
      {% else %}
        <input class="form-control" type="text" name="{{ filter.form.especie.name }}" placeholder="Especie" autocomplete="off">
      {% endif %}
    </div>  

    <button type="submit" class="btn btn-primary">Filtrar</button>
  </form>
  
  {% endif %}

</div>

<div class="table-responsive-lg">
{% render_table table %}
</div>

<div class="modal fade" id="agregarFavoritoModal" tabindex="-1" aria-labelledby="agregarFavoritoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarFavoritoModalLabel">Agregar o Quitar de Watchlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'agregar_favorito' %}" id="agregarFavoritoForm" novalidate>
          {% csrf_token %}
          <!-- <input type="hidden" id="especieIdInput" name="especie_id_input" value="">
          <label>Seleccioná las watchlists en las que querés incluir la especie:</label>
          <div id="watchlists-checkboxes"> -->
                <!-- Aquí se llenarán los checkboxes con las watchlists -->
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  // Función para obtener las watchlists del usuario y mostrar el modal
  function showAgregarFavoritoModal(especieId) {
    const watchlistsDataUrl = "{% url 'get_watchlists_data' %}";

    fetch(watchlistsDataUrl)
      .then((response) => response.json())
      .then((watchlists) => {
        const modalBody = document.querySelector("#agregarFavoritoModal .modal-body");
        modalBody.innerHTML = ""; // Limpia el contenido anterior

        const form = document.createElement("form");
        form.method = "post";
        form.id = "agregarFavoritoForm";
        form.noValidate = true;
        form.innerHTML = `
          {% csrf_token %}
          <input type="hidden" id="especieIdInput" name="especie_id_input" value="${especieId}">
          <label>Seleccioná las watchlists en las que querés incluir la especie:</label>
          <div id="watchlists-checkboxes" class="d-flex flex-column gap-1">
            <!-- Aquí se llenarán los checkboxes con las watchlists -->
          </div>
        `;

        const checkboxesDiv = form.querySelector("#watchlists-checkboxes");

        // Llena el modal con los checkboxes de las watchlists
        watchlists.forEach((watchlist) => {
          const checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.name = "watchlists";
          checkbox.value = watchlist.id;
          checkbox.checked = watchlist.especies.includes(parseInt(especieId));
          checkbox.setAttribute("data-watchlist-id", watchlist.id); // Nuevo atributo para identificar el checkbox
          checkbox.classList.add("me-1");

          checkbox.addEventListener("change", function () {
            // Obtener el valor actual del checkbox
            const isChecked = this.checked;

            // Obtener el ID de la especie y la watchlist
            const especieId = document.getElementById("especieIdInput").value;
            const watchlistId = this.value;

            // Crear un FormData para enviar la información
            const formData = new FormData();
            formData.append("especie_id", especieId);
            formData.append("watchlist", watchlistId);

            // Determinar la URL para agregar o eliminar según el estado del checkbox
            const url = isChecked ? "{% url 'agregar_favorito' %}" : "{% url 'eliminar_favorito' %}";

            // Enviar la petición usando fetch
            fetch(url, {
              method: "POST",
              headers: {
                "X-CSRFToken": document.getElementsByName("csrfmiddlewaretoken")[0].value,
              },
              body: formData,
            })
              .then((response) => {
                if (response.ok) {
                  // Actualizar el estado del checkbox en la interfaz
                  this.checked = isChecked;
                  console.log("Cambio realizado exitosamente");
                } else {
                  console.error("Error al realizar el cambio");
                }
              })
              .catch((error) => {
                console.error("Error al realizar el cambio", error);
              });
          });

          const label = document.createElement("label");
          label.appendChild(checkbox);
          label.appendChild(document.createTextNode(watchlist.nombre));
          checkboxesDiv.appendChild(label);
        });


        // Agrega el formulario al modal
        modalBody.appendChild(form);

        // Muestra el modal
        const agregarFavoritoModal = new bootstrap.Modal(document.getElementById("agregarFavoritoModal"));
        agregarFavoritoModal.show();
      })
      .catch((error) => {
        console.error("Error al obtener las watchlists del usuario", error);
      });
  }

  const agregarFavoritoBtns = document.querySelectorAll(".agregar-favorito-btn");

  agregarFavoritoBtns.forEach((btn) => {
    btn.addEventListener("click", function () {
      const especieId = btn.dataset.especieId;
      showAgregarFavoritoModal(especieId);
    });
  });

  const agregarFavoritoModal = document.getElementById("agregarFavoritoModal");
  agregarFavoritoModal.addEventListener("hidden.bs.modal", function () {
    // Refrescar cuando el modal se oculte.
    location.reload();
  });

});
</script>

<!-- Pasar a una archivo especies-estrella.js en assets -->
<script>
$(document).ready(function () {
  var userAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
  // Función para obtener las watchlists del usuario
  function getWatchlists() {
    if (userAuthenticated) {
      $.ajax({
        url: "{% url 'get_watchlists_data' %}",
        method: "GET",
        dataType: "json",
        success: function (data) {
          // Obtener la lista de especies en todas las watchlists del usuario
          var especiesEnWatchlist = [].concat(...data.map(watchlist => watchlist.especies));

          // Actualizar el ícono de la estrella en cada fila de la tabla
          $(".agregar-favorito-btn").each(function () {
            var especieId = $(this).data("especie-id");
            if (especiesEnWatchlist.includes(especieId)) {
              $(this).html('<i class="fa-solid fa-star" style="color: gold; text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);"></i>');
              $(this).data("favorito", true);
            } else {
              $(this).html('<i class="fa-regular fa-star" style="color: rgb(230, 195, 0); text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);"></i>');
              $(this).data("favorito", false);
            }
          });
        },
        error: function (error) {
          console.error("Error al obtener las watchlists del usuario", error);
        },
      });
    }
    else {
      $(".agregar-favorito-btn").each(function () {
        var especieId = $(this).data("especie-id");
        $(this).html('<i class="fa-regular fa-star" style="color: rgb(230, 195, 0); text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);"></i>');
      });
      $(document).on("click", ".fa-regular.fa-star", function () {
        window.location.href = "{% url 'login' %}";
      });
    }
  }

  // Llama a la función para obtener las watchlists al cargar la página
  getWatchlists();

  // Agregar un listener para actualizar las watchlists cuando se agrega una nueva especie a la watchlist
  $(document).on("click", ".agregar-favorito-modal-btn", function () {
    getWatchlists();
  });
});
</script>

{% endblock %}