{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}
    FinanzARS | Ingreso
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

{% block body %}
<div id="background"></div>
<div class="container">
  <h1 class="text-center logo my-4">
    <a href="{% url 'tipos' %}">FinanzARS <img id="logo" alt="logo" src={% static 'css/img/favicon.png' %}
        height=60></img></a>
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ingresar</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"> 
            <!-- if we try to log in now, the application will direct us back to where we were. -->
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          Nuevo en FinanzARS? <a href="{% url 'registro' %}">Registrate</a>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="#" class="text-muted">Olvidaste tu clave?</a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}