{% extends 'base_accounts.html' %}

{% block title %}FinanzARS | Restablecer clave{% endblock %}

{% block content %}
<div id="background"></div>
<div class="row justify-content-center">
  <div class="col-lg-4 col-md-6 col-sm-8">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Restablecer clave</h3>
        <p>Buscá en tu correo electrónico el enlace para restablecer tu contraseña.
          <br> Si no aparece en unos minutos, comprobá tu carpeta de correo no deseado.</p>
        <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}