{% extends 'base.html' %}

{% load static %}

{% load form_tags %}

{% block title %}
Simulador de Préstamos | FinanzARS
{% endblock %}

{% block meta %}
<meta name="description" content="Simulá tus préstamos de distintos sistemas incluyendo gastos de iva, seguros, otorgamiento y manenimiento"/>
<meta name="robots" content="index,noodp,noydir"/>
<meta name="keywords" content="simulador, prestamos, interes, inflacion, iva, seguro, aleman, frances, americano"/>
{% endblock %}

{% block content %}

<div class="container" id="prestamos-container">
  <h1 class="text-center mb-3">Simular Préstamo</h1>
  <p class="px-3">
    Simulá tus préstamos de distintos sistemas incluyendo gastos de iva, seguros, otorgamiento y manenimiento:
  </p>
  <form id="prestamos-selector" class="mb-3">
    <div class="form-group">
      <div class="d-flex gap-0 gap-md-4 mt-3 d-flex justify-content-center">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2 mb-md-0">
            <label class="form-check-label btn btn-success" id="frances-pill" for="frances-radio">
              Francés
            </label>
            <input type="radio" id="frances-radio" name="sistema" class="form-check-input" value="frances" hidden>
          </div>
          <div class="col-md-6">
            <label class="form-check-label btn btn-secondary" id="aleman-pill" for="aleman-radio">
              Alemán
            </label>
            <input type="radio" id="aleman-radio" name="sistema" class="form-check-input" value="aleman" hidden>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2 mb-md-0">
            <label class="form-check-label btn btn-secondary" id="americano-pill" for="americano-radio">
              Americano
            </label>
            <input type="radio" id="americano-radio" name="sistema" class="form-check-input" value="americano" hidden>
          </div>
          <div class="col-md-6">
            <label class="form-check-label btn btn-secondary" id="directo-pill" for="directo-radio">
              Interés Directo
            </label>
            <input type="radio" id="directo-radio" name="sistema" class="form-check-input" value="directo" hidden>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-3" id="tasas-container">
        <div class="input-group">
          <label for="inflacion" class="input-group-text simulador-input-small">Inflación Mensual:</label>
          <input type="number" id="inflacion" name="inflacion" class="form-control simulador-input-small" min="0"
            value="{{ tasas.inflacion|floatformat:1|replace_comma }}">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="prestamo-container">
    <h4 class="text-center" id="prestamo-title">Sistema Francés</h4>
    <form id="prestamo-form">
      <div class="form-group">
        <div class="input-group">
          <label for="prestamo-capital" class="input-group-text simulador-input-small">Capital:</label>
          <input type="number" id="prestamo-capital" name="prestamo-capital" class="form-control simulador-input-small" min="1" max="999.999.999"
            value="100000" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 999.999.999">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">$</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-tna" class="input-group-text simulador-input-small">TNA:</label>
          <input type="number" id="prestamo-tna" name="prestamo-tna" class="form-control simulador-input-small" min="1" max="1000" value="50"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 1.000">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-periodos" class="input-group-text simulador-input-small">Meses:</label>
          <input type="number" id="prestamo-periodos" name="prestamo-periodos" class="form-control simulador-input-small" min="1" max="480"
            value="12" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 480">
        </div>
        <div class="input-group">
          <label for="prestamo-iva" class="input-group-text simulador-input-small">IVA:</label>
          <input type="number" id="prestamo-iva" name="prestamo-iva" class="form-control simulador-input-small" min="0" max="100" value="21"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-seguro" class="input-group-text simulador-input-small">Seguro de vida:</label>
          <input type="number" id="prestamo-seguro" name="prestamo-seguro" class="form-control simulador-input-small" min="0" max="100" value="0"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-otorgamiento" class="input-group-text simulador-input-small">Gastos de otorgamiento:</label>
          <input type="number" id="prestamo-otorgamiento" name="prestamo-otorgamiento" class="form-control simulador-input-small" min="0"
            max="100" value="0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-mantenimiento" class="input-group-text simulador-input-small">Gastos de mantenimiento:</label>
          <input type="number" id="prestamo-mantenimiento" name="prestamo-mantenimiento" class="form-control simulador-input-small" min="0" max="100000" value="0"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100.000">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">$</span>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-success mt-3" type="button" id="prestamo-btn">Calcular</button>
        </div>

        <div class="mt-3" id="prestamo-resultados">
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-tea" class="input-group-text simulador-input-small">TEA:</label>
                <span id="prestamo-tea" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-recibir" class="input-group-text simulador-input-small">Monto a recibir:</label>
                <span id="prestamo-recibir" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-cft-mensual" class="input-group-text simulador-input-small">CFT mensual:</label>
                <span id="prestamo-cft-mensual" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-cft" class="input-group-text simulador-input-small">CFT:</label>
                <span id="prestamo-cft" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-vf" class="input-group-text simulador-input-small">Valor final pagos:</label>
                <span id="prestamo-vf" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-va" class="input-group-text simulador-input-small">Valor actual pagos:</label>
                <span id="prestamo-va" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped mt-3">
              <thead>
                <tr>
                  <th>Periodo</th>
                  <th>Capital adeudado</th>
                  <th>Capital</th>
                  <th>Interés</th>
                  <th>Cuota pura</th>
                  <th>Seg. Vida</th>
                  <th>Mantenim.</th>
                  <th>IVA</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id="prestamo-tabla">
                <!-- Tabla dinámica -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  </form>
</div>


<script src="{% static 'js/simuladores/financeFunctions.js' %}"></script>
<script src="{% static 'js/simuladores/prestamos.js' %}"></script>

{% endblock %}