{% extends 'base.html' %}

{% load static %}

{% load form_tags %}

{% block title %}
Simulador de Préstamos | FinanzARS
{% endblock %}

{% block meta %}
<meta name="description" content="Simulá tus préstamos de distintos sistemas incluyendo gastos de iva, seguros, otorgamiento y manenimiento"/>
<meta name="robots" content="index,noodp,noydir"/>
<meta name="keywords" content="simulador, prestamos, interes, inflacion, iva, seguro, aleman, frances, americano"/>
{% endblock %}

{% block content %}

<div class="container" id="prestamos-container">
  <h1 class="text-center mb-3">Préstamos</h1>
  <p class="px-3">
    Simulá tus préstamos de distintos sistemas incluyendo gastos de iva, seguros, otorgamiento y manenimiento:
  </p>
  <form id="prestamos-selector" class="mb-3">
    <div class="form-group">
      <div class="d-flex gap-0 gap-md-4 mt-3 d-flex justify-content-center">
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2 mb-md-0">
            <label class="form-check-label btn btn-success" id="frances-pill" for="frances-radio">
              Francés
            </label>
            <input type="radio" id="frances-radio" name="sistema" class="form-check-input" value="frances" hidden>
          </div>
          <div class="col-md-6">
            <label class="form-check-label btn btn-secondary" id="aleman-pill" for="aleman-radio">
              Alemán
            </label>
            <input type="radio" id="aleman-radio" name="sistema" class="form-check-input" value="aleman" hidden>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2 mb-md-0">
            <label class="form-check-label btn btn-secondary" id="americano-pill" for="americano-radio">
              Americano
            </label>
            <input type="radio" id="americano-radio" name="sistema" class="form-check-input" value="americano" hidden>
          </div>
          <div class="col-md-6">
            <label class="form-check-label btn btn-secondary" id="directo-pill" for="directo-radio">
              Interés Directo
            </label>
            <input type="radio" id="directo-radio" name="sistema" class="form-check-input" value="directo" hidden>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-3" id="tasas-container">
        <div class="input-group">
          <label for="inflacion" class="input-group-text simulador-input-small">Inflación Mensual:</label>
          <input type="number" id="inflacion" name="inflacion" class="form-control simulador-input-small" min="0"
            value="{{ tasas.inflacion|floatformat:1|replace_comma }}">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div id="prestamo-container">
    <h4 class="text-center" id="prestamo-title">Sistema Francés</h4>
    <form id="prestamo-form">
      <div class="form-group">
        <div class="input-group">
          <label for="prestamo-capital" class="input-group-text simulador-input-small">Capital:</label>
          <input type="number" id="prestamo-capital" name="prestamo-capital" class="form-control simulador-input-small" min="1" max="999.999.999"
            value="100000" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 999.999.999">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">$</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-tna" class="input-group-text simulador-input-small">TNA:</label>
          <input type="number" id="prestamo-tna" name="prestamo-tna" class="form-control simulador-input-small" min="1" max="1000" value="50"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 1.000">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-periodos" class="input-group-text simulador-input-small">Meses:</label>
          <input type="number" id="prestamo-periodos" name="prestamo-periodos" class="form-control simulador-input-small" min="1" max="480"
            value="12" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 480">
        </div>
        <div class="input-group">
          <label for="prestamo-iva" class="input-group-text simulador-input-small">IVA:</label>
          <input type="number" id="prestamo-iva" name="prestamo-iva" class="form-control simulador-input-small" min="0" max="100" value="21"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-seguro" class="input-group-text simulador-input-small">Seguro de vida:</label>
          <input type="number" id="prestamo-seguro" name="prestamo-seguro" class="form-control simulador-input-small" min="0" max="100" value="0"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-otorgamiento" class="input-group-text simulador-input-small">Gastos de otorgamiento:</label>
          <input type="number" id="prestamo-otorgamiento" name="prestamo-otorgamiento" class="form-control simulador-input-small" min="0"
            max="100" value="0" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">%</span>
          </div>
        </div>
        <div class="input-group">
          <label for="prestamo-mantenimiento" class="input-group-text simulador-input-small">Gastos de mantenimiento:</label>
          <input type="number" id="prestamo-mantenimiento" name="prestamo-mantenimiento" class="form-control simulador-input-small" min="0" max="100000" value="0"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Valores entre 1 y 100.000">
          <div class="input-group-append">
            <span class="input-group-text simulador-input-small">$</span>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button class="btn btn-success mt-3" type="button" id="prestamo-btn">Calcular</button>
        </div>

        <div class="mt-3" id="prestamo-resultados">
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-tea" class="input-group-text simulador-input-small">TEA:</label>
                <span id="prestamo-tea" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-recibir" class="input-group-text simulador-input-small">Monto a recibir:</label>
                <span id="prestamo-recibir" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-cft-mensual" class="input-group-text simulador-input-small">CFT mensual:</label>
                <span id="prestamo-cft-mensual" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-cft" class="input-group-text simulador-input-small">CFT:</label>
                <span id="prestamo-cft" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-vf" class="input-group-text simulador-input-small">Valor final pagos:</label>
                <span id="prestamo-vf" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
            <div class="col-6 p-1 ps-2">
              <div class="input-group input-group-vertical d-flex flex-column">
                <label for="prestamo-va" class="input-group-text simulador-input-small">Valor actual pagos:</label>
                <span id="prestamo-va" class="input-group-text simulador-input-small"></span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-bordered table-striped mt-3">
              <thead>
                <tr>
                  <th>Periodo</th>
                  <th>Capital adeudado</th>
                  <th>Capital</th>
                  <th>Interés</th>
                  <th>Cuota pura</th>
                  <th>Seg. Vida</th>
                  <th>Mantenim.</th>
                  <th>IVA</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody id="prestamo-tabla">
                <!-- Tabla dinámica -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  </form>
</div>



<script>

  $(document).ready(function () {

    $(function () {
      $('[data-bs-toggle="tooltip"]').tooltip()
      $(document).on('click', 'input[type=number]', function () { this.select(); });
    });

    const francesRadio = $("#frances-radio");
    const alemanRadio = $("#aleman-radio");
    const americanoRadio = $("#americano-radio");
    const directoRadio = $("#directo-radio");
    const francesPill = $("#frances-pill");
    const alemanPill = $("#aleman-pill");
    const americanoPill = $("#americano-pill");
    const directoPill = $("#directo-pill");

    const prestamoTitle = $("#prestamo-title");
    const prestamoResultados = $("#prestamo-resultados");

    francesRadio.prop("checked", true)
    prestamoResultados.hide();

    function cambiarSistemaPrestamo(titulo, pillElement) {
      prestamoTitle.html(titulo);
      prestamoResultados.hide();
      francesPill.removeClass("btn-success").addClass("btn-secondary");
      alemanPill.removeClass("btn-success").addClass("btn-secondary");
      americanoPill.removeClass("btn-success").addClass("btn-secondary");
      directoPill.removeClass("btn-success").addClass("btn-secondary");
      pillElement.removeClass("btn-secondary").addClass("btn-success");
    }

    francesRadio.on("change", function () {
      if (francesRadio.prop("checked")) {
        cambiarSistemaPrestamo("Sistema Francés", francesPill);
      }
    });

    alemanRadio.on("change", function () {
      if (alemanRadio.prop("checked")) {
        cambiarSistemaPrestamo("Sistema Alemán", alemanPill);
      }
    });

    americanoRadio.on("change", function () {
      if (americanoRadio.prop("checked")) {
        cambiarSistemaPrestamo("Sistema Americano", americanoPill);
      }
    });

    directoRadio.on("change", function () {
      if (directoRadio.prop("checked")) {
        cambiarSistemaPrestamo("Sistema de Interés Directo", directoPill);
      }
    });

    $("#prestamo-btn").click(function () {
      const inflacion = parseFloat($("#inflacion").val() / 100);
      const capital = parseFloat($("#prestamo-capital").val());
      const tna = parseFloat($("#prestamo-tna").val() / 100);
      const periodos = parseInt($("#prestamo-periodos").val());
      const iva = parseFloat($("#prestamo-iva").val() / 100) || 0;
      const seguro = parseFloat($("#prestamo-seguro").val() / 100) || 0;
      const otorgamiento = parseFloat($("#prestamo-otorgamiento").val() / 100) || 0;
      const mantenimiento = parseFloat($("#prestamo-mantenimiento").val()) || 0;

      let totalTotalArr = []

      if (capital > 0 && tna > 0 && (periodos > 0 && periodos < 481)) {
        prestamoResultados.show();

        let aRecibir = capital * (1 - otorgamiento);
        $("#prestamo-recibir").text(`$ ${formatNumber(aRecibir)}`);

        // Tabla de cuotas
        const prestamoTabla = $("#prestamo-tabla");
        prestamoTabla.empty();
        let totalCapitalArr = []
        let totalInteresArr = []
        let totalCuotaPuraArr = []
        let totalSeguroArr = []
        let totalMantenimientoArr = []
        let totalIvaArr = []
        let capitalAdeudado = 0;
        let cuotaPura = 0;
        let capitalCuota = 0;
        let interesCuota = 0;
        for (let i = 0; i <= periodos; i++) {
          if (i == 0) {
            capitalAdeudado = capital;
            const seguroCuota = 0, mantenimientoCuota = 0, ivaCuota = 0;
            capitalCuota = interesCuota = cuotaPura = 0;
            totalCuota = -aRecibir;
            totalTotalArr.push(totalCuota);
            prestamoTabla.push(`<tr><td>${i}</td>
              <td>${capitalAdeudado.toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}</td>
              <td></td><td></td><td></td><td></td><td></td><td></td>
              <td>${totalCuota.toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.')}</td></tr>`)
          }
          else {
            if (francesRadio.prop("checked")) {
              cuotaPura = capital * (tna / 12 / (1 - (1 + tna / 12) ** (- periodos)));
              totalCuotaPuraArr.push(cuotaPura);
              capitalCuota = cuotaPura / (1 + tna / 12) ** (periodos - i + 1);
              totalCapitalArr.push(capitalCuota);
              interesCuota = capitalAdeudado * tna / 12;
              totalInteresArr.push(interesCuota);
            }
            if (alemanRadio.prop("checked")) {
              capitalCuota = capital / periodos;
              totalCapitalArr.push(capitalCuota);
              interesCuota = capitalAdeudado * tna / 12;
              totalInteresArr.push(interesCuota);
              cuotaPura = capitalCuota + interesCuota;
              totalCuotaPuraArr.push(cuotaPura);
            }
            if (americanoRadio.prop("checked")) {
              interesCuota = capitalAdeudado * tna / 12;
              totalInteresArr.push(interesCuota);
              if (i !== periodos) {
                capitalCuota = 0;
              } else {
                capitalCuota = capital;
                capitalAdeudado = 0;
              }
              totalCapitalArr.push(capitalCuota);
              cuotaPura = capitalCuota + interesCuota;
              totalCuotaPuraArr.push(cuotaPura);
            }
            if (directoRadio.prop("checked")) {
              capitalCuota = capital / periodos;
              totalCapitalArr.push(capitalCuota);
              interesCuota = capital * tna / 12;
              totalInteresArr.push(interesCuota);
              cuotaPura = capitalCuota + interesCuota;
              totalCuotaPuraArr.push(cuotaPura);
            }
            let seguroCuota = capitalAdeudado * seguro;
            totalSeguroArr.push(seguroCuota);
            let mantenimientoCuota = mantenimiento;
            totalMantenimientoArr.push(mantenimientoCuota);
            let ivaCuota = interesCuota * iva;
            totalIvaArr.push(ivaCuota);
            let totalCuota = cuotaPura + seguroCuota + mantenimientoCuota + ivaCuota;
            totalTotalArr.push(totalCuota)
            prestamoTabla.append(`<tr>
              <td>${i}</td>
              <td>${formatNumber(capitalAdeudado)}</td>
              <td>${formatNumber(capitalCuota)}</td>
              <td>${formatNumber(interesCuota)}</td>
              <td>${formatNumber(cuotaPura)}</td>
              <td>${formatNumber(seguroCuota)}</td>
              <td>${formatNumber(mantenimientoCuota)}</td>
              <td>${formatNumber(ivaCuota)}</td>
              <td>${formatNumber(totalCuota)}</td>
              </tr>
            `);
            if (!(americanoRadio.prop("checked"))) {
              capitalAdeudado = capitalAdeudado - capitalCuota;
            }
          }
        }

        // Fila de Totales

        let totalCapital = calculateSum(totalCapitalArr);
        let totalInteres = calculateSum(totalInteresArr);
        let totalCuotaPura = calculateSum(totalCuotaPuraArr);
        let totalSeguro = calculateSum(totalSeguroArr);
        let totalMantenimiento = calculateSum(totalMantenimientoArr);
        let totalIva = calculateSum(totalIvaArr);
        vaTotalArr = totalTotalArr.slice(1)
        let totalTotal = calculateSum(vaTotalArr);

        prestamoTabla.append(`<tr>
          <td colspan="2" class="fw-bold">Totales</td>
          <td class="fw-bold">${formatNumber(totalCapital)}</td>
          <td class="fw-bold">${formatNumber(totalInteres)}</td>
          <td class="fw-bold">${formatNumber(totalCuotaPura)}</td>
          <td class="fw-bold">${formatNumber(totalSeguro)}</td>
          <td class="fw-bold">${formatNumber(totalMantenimiento)}</td>
          <td class="fw-bold">${formatNumber(totalIva)}</td>
          <td class="fw-bold">${formatNumber(totalTotal)}</td>
          </tr>
        `);
        const tea = ((1 + tna / 12) ** 12) - 1;
        const cftMensual = finance.IRR(totalTotalArr);
        const cft = ((1 + cftMensual) ** 12) - 1;
        vaTotalArr = totalTotalArr.slice(1)
        const va = finance.NPV(inflacion, ...vaTotalArr);
        const vf = calculateSum(vaTotalArr);

        $("#prestamo-tea").text(`${formatPercentage(tea * 100)}%`);
        $("#prestamo-cft-mensual").text(`${formatPercentage(cftMensual * 100)}%`);
        $("#prestamo-cft").text(`${formatPercentage(cft * 100)}%`);
        $("#prestamo-va").text(`$ ${formatNumber(va)}`);
        $("#prestamo-vf").text(`$ ${formatNumber(vf)}`);

        if (va < vf) {
          $("#prestamo-va").css({
            "font-weight": "700",
            "color": "forestgreen",
          });
          $("#prestamo-vf").css({
            "font-weight": "700",
            "color": "crimson",
          });
        }
        else {
          $("#prestamo-va").css({
            "font-weight": "700",
            "color": "crimson",
          });
          $("#prestamo-vf").css({
            "font-weight": "700",
            "color": "forestgreen",
          });
        }
      }
    });
  });

/* ------------------------------ Funciones ------------------------------ */

function calculateSum(array) {
  return array.reduce((accumulator, value) => {
    return accumulator + value;
  }, 0);
}

function formatNumber(number) {
  return number.toFixed(2).replace('.', ',').replace(/\B(?=(\d{3})+(?!\d))/g, '.');
}

function formatPercentage(number) {
  return number.toFixed(2).replace('.', ',');
}

</script>

<script src="{% static 'js/financeFunctions.js' %}"></script>

{% endblock %}