{% extends 'base.html' %}

{% load static %}

{% load django_tables2 %}

{% block title %}
FinanzARS
{% endblock %}


{% block content %}

<div class="table-responsive-lg" id="tabla-resultado-container">
  <div class="mb-4">
    <a href="{% url 'nueva_operacion' %}" class="btn btn-primary">Agregar Operación</a>
  </div>
  {% render_table table %}
</div>


<!-- <div class="container">
  <table class="table table-sm">
    <thead class="thead-inverse">
      <tr>
        <th>
          Activo
        </th>
        <th>
          Tipo
        </th>
        <th>
          Cantidad
        </th>
        <th>
          Resultado en USD
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for activo in resultados %}
      <tr>
        <td>
          {{activo.tipo}}
        </td>
        <td>
          {{activo.activo}}
        </td>
        <td>
          {{activo.cantidad}}
        </td>
        <td>
          {{activo.resultado_usd|floatformat:2}}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div> -->

{% endblock %}