{% extends 'base.html' %}

{% load static %}

{% load django_tables2 %}

{% block title %}
FinanzARS | Tenencia
{% endblock %}

{% block meta %}
<meta name="description" content="Llevá un control de tu tenencia de activos financieros"/>
<meta name="robots" content="index"/>
{% endblock %}

{% block content %}

<div class="table-responsive-lg" id="tabla-tenencia-container">
  <div class="title-btn-row d-flex align-items-center mb-3">
    <h3 class="mb-0">Tenencia</h3>
    <a href="{% url 'nueva_operacion' %}" class="btn btn-success">Agregar Operación</a>
  </div>
  <div id="tenencia-table">
    {% render_table table %}
  </div>
</div>

{% endblock %}