{% extends 'base.html' %}

{% load static %}

{% block title %}
FinanzARS | Bursátiles
{% endblock %}

{% block meta %}
<meta name="description" content="Encontrá toda la información de tus instrumentos financieros favoritos"/>
<meta name="robots" content="index"/>
<meta name="keywords" content="bolsa, activos, financieros, instrumentos, bonos, cedears, merval, cotizaciones"/>
{% endblock %}

{% load render_table from django_tables2 %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
<div class="container" id="tabla-tipos-container">
  <div id="tipos-table">
    {% render_table table %}
  </div>
</div>

{% endblock %}