{% extends 'base.html' %}

{% block title %}
Watchlists | FinanzARS
{% endblock %}

{% block meta %}
<meta name="description" content="Llevá un control minucioso de tus activos financieros favoritos!"/>
<meta name="robots" content="index,noodp,noydir"/>
{% endblock %}

{% load static %}
{% load django_bootstrap5 %}
{% load django_tables2 %}
{% load table_tags %}

{% block breadcrumb %}
{% endblock %}

{% block content %}

<div class="container my-2">
  <div class="row">
    <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
      <h1 class="mb-3">Watchlists</h1>
      {% if not watchlists %}
      <div class="alert alert-primary" role="alert">
        Creá tu primer watchlist para empezar a analizar tus instrumentos favoritos!
      </div>
      {% endif %}
    </div>
  </div>

  <!-- Pestañas (tabs) para cada watchlist -->
  <ul class="nav nav-tabs" id="watchlistTabs" role="tablist">
    {% for watchlist in watchlists %}
    <li class="nav-item" role="presentation">
      <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab-{{ watchlist.id }}" data-bs-toggle="tab"
        href="#watchlist-{{ watchlist.id }}" role="tab" aria-controls="watchlist-{{ watchlist.id }}"
        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
        {{ watchlist.nombre }}
        <span class="ms-2" href="#" data-bs-toggle="modal" data-bs-target="#editarWatchlistModal{{ watchlist.id }}"
        id="editarWatchlistBtn">
          <i class="fa fa-pencil fa-xs"></i>
        </span>
      </a>
    </li>
    {% endfor %}
    <li class="nav-item" role="presentation">
      <a class="nav-link{% if not watchlists %} active{% endif %}" id="agregar-watchlist-tab" data-bs-toggle="modal"
        data-bs-target="#agregarWatchlistModal" href="#agregar-watchlist" role="tab" aria-controls="agregar-watchlist"
        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
        <i class="fa-solid fa-plus fa-sm"></i>
      </a>
    </li>
  </ul>

  <!-- Contenido de las pestañas -->
  <div class="tab-content" id="watchlistTabsContent">
    {% for watchlist in watchlists %}
    <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="watchlist-{{ watchlist.id }}"
      role="tabpanel" aria-labelledby="tab-{{ watchlist.id }}">
      {% if watchlist_tables|length > 0 %}
      {% with watchlist_table=watchlist_tables|get_item:watchlist %}
      <div class="table-responsive-lg" id="watchlist-table">
        {% render_table watchlist_table %}
      </div>
      {% endwith %}
      {% else %}
      <p>No hay especies en esta watchlist.</p>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- Modal para agregar watchlist -->
<div class="modal fade" id="agregarWatchlistModal" tabindex="-1" aria-labelledby="agregarWatchlistModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarWatchlistModalLabel">Agregar Nueva Watchlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" id="agregarWatchlistForm">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal para editar watchlist -->
{% for watchlist in watchlists %}
<div class="modal fade" id="editarWatchlistModal{{ watchlist.id }}" tabindex="-1" aria-labelledby="editarWatchlistModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarWatchlistModalLabel">Editar/Eliminar Watchlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if watchlist.id %}
        <div>
          <form method="post" id="editarWatchlistForm" action="{% url 'editar_watchlist' watchlist.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Guardar</button>
          </form>
          <form class="mt-2" method="post" action="{% url 'eliminar_watchlist' watchlist.id %}">
            {% csrf_token %}
            <button type="button" class="btn btn-danger" id="btnEliminar{{ watchlist.id }}">Eliminar Watchlist</button>
            <button type="submit" class="btn btn-dark d-none" id="btnConfirmarEliminar{{ watchlist.id }}">Confirmar Eliminación</button>
          </form>
        </div>
        <script>
          document.getElementById('btnEliminar{{ watchlist.id }}').addEventListener('click', function() {
            this.classList.add('d-none');
            document.getElementById('btnConfirmarEliminar{{ watchlist.id }}').classList.remove('d-none');
          });
          modal = document.getElementById('editarWatchlistModal{{ watchlist.id }}');
          textField = modal.querySelector('#id_nombre');
          textField.value = '{{watchlist.nombre}}';
          textField.classList.add('form-control')
        </script>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Modal para agregar/editar favorito -->
<div class="modal fade" id="agregarFavoritoModal" tabindex="-1" aria-labelledby="agregarFavoritoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="agregarFavoritoModalLabel">Agregar o Quitar de Watchlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'agregar_favorito' %}" id="agregarFavoritoForm" novalidate>
          {% csrf_token %}
          <!-- <input type="hidden" id="especieIdInput" name="especie_id_input" value="">
          <label>Seleccioná las watchlists en las que querés incluir la especie:</label>
          <div id="watchlists-checkboxes"> -->
          <!-- Aquí se llenarán los checkboxes con las watchlists -->
          <!-- </div> -->
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  // Variables de django para script externo
  const nombreWatchlist = "{{ watchlist.nombre }}"
  const agregarFavoritoUrl = "{% url 'agregar_favorito' %}";
  const eliminarFavoritoUrl = "{% url 'eliminar_favorito' %}";
  const getWatchlistsDataUrl = "{% url 'get_watchlists_data' %}";
</script>

<script src="{% static 'js/instrumento/watchlists.js' %}"></script>

{% endblock %}