{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}
Editar operación | FinanzARS
{% endblock %}

{% block content %}

<form method="post" id="operacion-form" data-especies-url="{% url 'ajax_load_especies' %}"
  data-activos-url="{% url 'ajax_load_activos' %}" data-activo-name-url="{% url 'ajax_load_activo_name' %}" novalidate>
  <!-- novalidate avoids browser pre-validation -->
  {% csrf_token %}

  <div class="alert alert-secondary" role="alert">
    Las especies disponibles dependen del plazo de
    liquidación, el tipo y el activo que elijas
  </div>

  {% include 'includes/form.html' %}

  <button type="submit" class="btn btn-success mb-3 me-3">Actualizar</button>
  <button type="button" class="btn btn-secondary mb-3" id="cancelarEditarOpBtn">Cancelar</button>
</form>

<script>
  const operacionesUrl = "{% url 'operaciones' %}";
  const loadMepUrl = "{% url 'load_mep' %}";
</script>

<script src="{% static 'js/cartera/editar_operacion.js' %}"></script>

{% endblock %}