{% extends 'base.html' %}

{% load static %}

{% load django_tables2 %}

{% block title %}
Operaciones | FinanzARS
{% endblock %}

{% block meta %}
<meta name="description" content="Registrá tus operaciones bursátiles y llevá un control periódico de ellas" />
<meta name="robots" content="index,noodp,noydir"/>
{% endblock %}

{% block content %}

<div class="table-responsive" id="tabla-operaciones-container">
  <div class="title-btn-row d-flex align-items-center mb-3">
    <h1 class="mb-0">Operaciones</h1>
    <a href="{% url 'nueva_operacion' %}" class="btn btn-success">Agregar Operación</a>
  </div>
  <div id="operaciones-table">
    {% render_table table %}
  </div>
  <!-- Modal de confirmación de eliminación -->
  <div class="modal fade" id="eliminarOperacionModal" tabindex="-1" role="dialog"
    aria-labelledby="eliminarOperacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eliminarOperacionModalLabel">Confirmar eliminación</h5>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar esta operación?</p>
        </div>
        <form class="modal-footer" method="POST" novalidate>
          {% csrf_token %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            id="cancelarEliminarOpBtn">Cancelar</button>
          <button type="button" class="btn btn-danger" id="eliminarOperacionBtn">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% if not operaciones %}
<script>
  $(document).ready(function () {

    const tablaBody = $('#operaciones-table table tbody');
    const numColumnas = tablaBody.closest('table').find('thead th').length;
    const nuevaFila = '<tr><td colspan="' + numColumnas + '">Agregá tu primera operación para verla acá representada</td></tr>';
    tablaBody.append(nuevaFila)

  });
</script>
{% endif %}

<script>  
  // Variables de django para script externo
  const eliminarOperacionUrl = "{% url 'eliminar_operacion' 0 %}".replace("0", 0);
</script>

<script src="{% static 'js/cartera/operaciones.js' %}"></script>


{% endblock %}