{% extends 'base_accounts.html' %}

{% load static %}

{% block title %}
Ingresar | FinanzARS
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/registro.css' %}">
{% endblock %}

{% block body %}
<div id="background"></div>
<div class="container" id="login-container">
  <h1 class="text-center logo my-4">
    <a href="{% url 'home' %}">FinanzARS <img id="logo" alt="logo" src={% static 'css/img/favicon.png' %}
        height=60></img></a>
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Ingresar</h1>
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"> 
            <!-- if we try to log in now, the application will direct us back to where we were. -->
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success btn-block" id="login-btn">Ingresar</button>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
          <p class="mb-1">Nuevo en FinanzARS? <a href="{% url 'registro' %}">Registrate</a></p>
          <p class="mb-1">Querés probar el sitio? 
            <button class="btn btn-sm btn-secondary" type="button" id="test-btn">Test</button>
          </p>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="{% url 'password_reset' %}">Olvidaste tu clave?</a>
        </small>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#test-btn").click(function () {
      $("#id_username").val("test");
      $("#id_password").val("testing321")
      $("#login-btn").click();
    });
  });
</script>
{% endblock %}