{% extends 'base.html' %}

{% block title %}FinanzARS | Cambio de clave{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active mb-3 cambiar-clave-li">Cambiar clave</li>
{% endblock %}

{% block content %}
<div id="background"></div>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form id="cambiar-clave-form" method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Cambiar clave</button>
      </form>
    </div>
  </div>
{% endblock %}
