{% extends 'base_accounts.html' %}

{% block title %}FinanzARS | Restablecer clave{% endblock %}

{% block content %}
<div id="background"></div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Restablecer clave</h1>
          <p>Ingresá tu dirección de mail y te enviaremos un link para restablecer la clave</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success btn-block">Enviar link</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
