{% extends 'base_accounts.html' %}

{% block title %}
  <!-- {% if validlink %}
    Cambio de clave de {{ form.user.username }}
  {% else %} -->
    FinanzARS | Restablecer clave
  <!-- {% endif %} -->
{% endblock %}

{% block content %}
<div id="background"></div>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Cambio de clave de @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Cambiar clave</button>
            </form>
          {% else %}
            <h3 class="card-title">Restablecer clave</h3>
            <div class="alert alert-danger" role="alert">
              Parece que hiciste clic en un enlace de restablecimiento de contraseña no válido. Por favor, intentalo de nuevo.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Solicitar un nuevo link</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
