Hola,

Alguien pidió un restablecimiento de contraseña para la dirección de correo electrónico {{ email }}.
Seguí el siguiente enlace:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

En caso de que hayas olvidado tu nombre de usuario de FinanzARS: {{ user.username }}

Si al hacer clic en el enlace de arriba este no funciona, por favor copiá y pegá la URL
en una nueva ventana del navegador.

Si recibiste este correo por error, es probable que otro usuario haya introducido
su dirección de correo electrónico por error al intentar restablecer una contraseña. 
Si no realizaste la solicitud, no necesitas hacer nada más y podés ignorar este mensaje.

Gracias!

El equipo de FinanzARS